* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    height: 100%;
}

html {
    background-color: hsl(0,0%,25%);
}

body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 2rem;

    background: linear-gradient(
        180deg,
        hsl(0,0%,60%) 30%,
        hsl(0,0%,25%) 90%
    );
}

#preview-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

canvas {
    width: 100%;

    border: 2px solid yellow;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 2rem 0.5rem black;
}

#timeline {
    --timeline-side-padding: 1rem;
    --timeline-bg-color: hsl(230,30%,40%);
    --timeline-border-width: 4px;

    --tick-extra-gap: 0rem;
    --tick-side-padding: 5rem;
    --tick-height: 30%;
    --tick-aspect-ratio: 2/5;
    --tick-fill: hsl(280,30%,55%);

    container: timeline / size;

    min-width: 200px;
    width: 75%;
    height: 4rem;
    padding: 0 calc(1.5rem + var(--timeline-side-padding));
    overflow-x: auto;
    overflow-y: hidden;

    background-color: var(--timeline-bg-color);
    border: var(--timeline-border-width) solid hsla(0,0%,100%,1);
    border-radius: 0 0 0.5rem 0.5rem;
}

#tick-container {
    display: flex;
    align-items: end;
    gap: calc(0.5rem + var(--tick-extra-gap));

    width: 100%;
    height: 100%;
}

#tick-container > .tick {
    position: relative;
    
    height: var(--tick-height);
    aspect-ratio: var(--tick-aspect-ratio);

    background-color: var(--tick-fill);
}
#tick-container > .tick:active {
    filter: brightness(110%) saturate(125%) sepia(25%) drop-shadow(1px 0 0 hsla(0,0%,0%,0.5));
}
#tick-container > .tick.active::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
    
    width: 20px;
    height: 100cqh;
    
    background-color: hsl(100, 50%, 60%);
    clip-path: path("M2.5 0 L17.5 0 L10 7.5 Z");
    z-index: 6;
}
#tick-container > .tick.active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 0;

    width: 2px;
    height: 100cqh;

    background: linear-gradient(180deg, hsl(100, 60%, 50%), hsla(100, 35%, 60%, 0.5));
    z-index: 5;
}

#graphic-designer {
    margin: 2rem 1rem;

    background-color: hsla(140, 30%, 30%, 0.5);
    border: 2px solid hsl(120, 20%, 10%);
    border-radius: 1.25rem 0 0 0.5rem;
}