* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    height: 100%;
}

html {
    background-color: hsl(0,0%,25%);
}

body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 2rem;

    background: linear-gradient(
        180deg,
        hsl(0,0%,60%) 30%,
        hsl(0,0%,25%) 90%
    );
}

#preview-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

canvas {
    width: 100%;

    border: 2px solid yellow;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 2rem 0.5rem black;
}

#timeline {
    --timeline-bg-color: hotpink;
    --tick-side-padding: 5rem;

    container: timeline / size;
    position: relative;

    min-width: 200px;
    width: 75%;
    height: 4rem;
    overflow: auto;

    background-color: var(--timeline-bg-color);
    border: 2px solid hsla(0,0%,100%,1);
    border-radius: 0.5rem;
}
#timeline > * {
    position: relative;
}

#timeline > .bg-fill {
    --tick-color: hsla(0,0%,30%,0.75);
    --tick-width: 0.5vw;
    --tick-height: clamp(15px, calc(100cqh/3), 40px);
    --tick-gap: 25px;
    --top-bottom-gradient: repeating-linear-gradient(
        transparent,
        transparent var(--tick-height),
        var(--timeline-bg-color) var(--tick-height),
        var(--timeline-bg-color) calc(100% - var(--tick-height)),
        transparent calc(100% - var(--tick-height)),
        transparent 100%
    );
    --top-gradient: repeating-linear-gradient(
        transparent,
        transparent var(--tick-height),
        var(--timeline-bg-color) var(--tick-height),
        var(--timeline-bg-color) 100%
    );
    --bottom-gradient: repeating-linear-gradient(
        var(--timeline-bg-color),
        var(--timeline-bg-color) calc(100% - var(--tick-height)),
        transparent calc(100% - var(--tick-height)),
        transparent 100%
    );
    --selected-tick-style: var(--bottom-gradient);
    
    position: absolute !important;

    width: 100%;
    height: 100%;
    
    /* CALCULATION VARIABLES -- DO NOT MODIFY! */
    /* --available-tick-width: calc(100cqw - (var(--tick-gap)*2));
    --tick-total-width: calc(var(--tick-width) + var(--tick-gap));
    --tick-gradient: repeating-linear-gradient(90deg,
        var(--tick-color),
        var(--tick-color) var(--tick-width),
        var(--timeline-bg-color) var(--tick-width),
        var(--timeline-bg-color) calc(var(--tick-width) + var(--tick-gap))
    );
    --side-padding-gradient: linear-gradient(90deg,
        var(--timeline-bg-color),
        var(--timeline-bg-color) calc(var(--tick-side-padding) - (var(--tick-width)/2)),
        transparent calc(var(--tick-side-padding) - (var(--tick-width)/2)),
        transparent calc(100% - var(--tick-side-padding) + (var(--tick-width)/2)),
        var(--timeline-bg-color) calc(100% - var(--tick-side-padding) + (var(--tick-width)/2)),
        var(--timeline-bg-color) 100%
    ); */
    /* --------------------------------------- */

    /* background: var(--side-padding-gradient), var(--selected-tick-style), var(--tick-gradient); */
    border-radius: inherit;
}

#graphic-designer {
    margin: 2rem 1rem;

    background-color: hsla(140, 30%, 30%, 0.5);
    border: 2px solid hsl(120, 20%, 10%);
    border-radius: 2rem 0 0 2rem;
}