:root {

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

#toolbar {
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: min-content;
    padding: 0.25rem 1rem;

    border-bottom: 4px solid hsl(0,0%,25%);
    z-index: 1;
}

.dropdown {
    width: max-content;
    height: 100%;

    border-radius: 0.25rem;
}

.dropdown:has(p:hover), .dropdown.expanded {
    backdrop-filter: brightness(80%);
}

.dropdown > p {
    padding: 0.25rem 1.5rem;

    user-select: none;
}

.dropdown > ul {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 0;

    width: 200px;
    padding: 0.25rem;
    
    list-style: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    z-index: 999;
}
.dropdown.expanded > ul {
    display: flex;
    animation: fade-in 125ms ease-out 1;
}

.dropdown > ul > li {
    width: 100%;
    padding: 0.25rem 2rem;

    user-select: none;
}
.dropdown > ul > li:hover {
    backdrop-filter: brightness(90%);
}



#main {
    width: 100%;
    height: 100%;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}