:root {
    --toolbar-bottom-padding: 0.5rem;

    --primary-hue: 0;
    --primary-saturation: 0%;
    --primary-lightness: 35%;
    --primary-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));

    --secondary-hue: 0;
    --secondary-saturation: 0%;
    --secondary-lightness: 50%;
    --secondary-color: hsl(var(--secondary-hue), var(--secondary-saturation), var(--secondary-lightness));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;

    font-family: "Verdana", "Segoe UI", "Arial";
}

#toolbar {
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: min-content;
    padding: 0.25rem 1rem;

    background-color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    z-index: 1;
}

.dropdown {
    width: max-content;
    height: 100%;

    font-size: 1rem;
    border-radius: 0.25rem;
}

.dropdown:has(p:hover), .dropdown.expanded {
    backdrop-filter: brightness(80%);
}

.dropdown > p {
    padding: 0.25rem 1.5rem;

    color: white;
    user-select: none;
}

.dropdown > ul {
    --bg-lightness: calc(var(--primary-lightness) + 2.5%);

    position: absolute;
    display: none;
    flex-direction: column;
    gap: 0;

    width: 200px;
    padding: 0.25rem;
    
    list-style: none;
    background-color: hsl(var(--primary-hue), var(--primary-saturation), var(--bg-lightness));
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    box-shadow: 4px 3px 6px 0 hsla(0,0%,0%,0.75);
    z-index: 999;
}
.dropdown.expanded > ul {
    display: flex;
    animation: fade-in 125ms ease-out 1;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.dropdown > ul > li {
    width: 100%;
    padding: 0.25rem 2rem;

    font-size: 0.9em;
    color: white;
    user-select: none;
}
.dropdown > ul > li:hover {
    backdrop-filter: brightness(90%);
}

.dropdown > ul > hr {
    margin: 0.25rem 0 0.325rem 0;
}



#main {
    width: 100%;
    height: 100%;
}

#tools > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;

    padding: 0 clamp(8px, 7.5%, 3rem);
}

#tools > div > abbr {
    height: max-content;
    aspect-ratio: 1 / 1 !important;
}

#tools > div > abbr > img {
    --backdrop-dur-in: 15ms;
    --backdrop-timing-in: linear;
    --backdrop-dur-out: 150ms;
    --backdrop-timing-out: ease-out;

    --scale-dur-in: 175ms;
    --scale-timing-in: cubic-bezier(0.35, -1, 0.375, 1.75);
    --scale-dur-out: 75ms;
    --scale-timing-out: ease-in;

    padding: 0.25rem;

    border: 4px outset transparent;
    border-radius: 25%;
    user-select: none;
    transition:
        backdrop-filter var(--backdrop-dur-out) var(--backdrop-timing-out),
        scale var(--scale-dur-out) var(--scale-timing-out),
        box-shadow calc(var(--scale-dur-out) * (4/5)) ease-out;
}
#tools > div > abbr > img:hover {
    cursor: pointer;
    border-color: var(--secondary-color);
    backdrop-filter: brightness(90%);
    transition:
        backdrop-filter var(--backdrop-dur-in) var(--backdrop-timing-in),
        scale var(--scale-dur-out) var(--scale-timing-out),
        box-shadow calc(var(--scale-dur-out) * (4/5)) ease-out;
}
#tools > div > abbr > img:active {
    scale: 115%;
    box-shadow: 2px 0 12px 0 hsla(0,0%,100%,0.25);
    border-color: hsla(
        var(--secondary-hue),
        var(--secondary-saturation),
        calc(var(--secondary-lightness) - 5%),
        0.75
    );
    filter: saturate(110%);
    transition:
        backdrop-filter var(--backdrop-dur-out) var(--backdrop-timing-out),
        scale var(--scale-dur-in) var(--scale-timing-in),
        box-shadow calc(var(--scale-dur-in) * (4/5)) ease-out;
}

#menu-options > div > div, #tool-options > div > div {
    display: none;
    flex-direction: column;
}
#menu-options > div > div.visible, #tool-options > div > div.visible {
    display: flex;
}



resizable-window {
    --light-primary-color: hsl(
        calc(var(--primary-hue) + 15),
        calc(var(--primary-saturation) - 10%),
        calc(var(--primary-lightness) + 10%)
    );

    overflow: auto;

    background-color: var(--light-primary-color);
    border-width: 0;
    border-style: solid;
    border-color: var(--secondary-color);
}
resizable-window:has(p):has(div) {
    display: flex !important;
    flex-direction: column;
    gap: 0;
}

resizable-window > p {
    --bg-lightness: calc(var(--secondary-lightness) * 1.15);
    --vertical-padding: 0.25rem;

    width: 100%;
    padding: var(--vertical-padding) 0;
    padding-left: clamp(3rem, 20%, 6rem);

    font-weight: bold;
    background-color: hsla(var(--secondary-hue), var(--secondary-saturation), var(--bg-lightness), 0.75);
    border: 4px groove transparent;
    border-top: 1px solid transparent;
    user-select: none;
    transition: 100ms ease-out;
    transition-property: border-color filter;
}
resizable-window:focus-within > p {
    text-decoration: hsl(220, 100%, 40%) 0.2rem underline;
    border-color: var(--primary-color);
    filter: brightness(110%) contrast(125%) saturate(125%);
}

resizable-window > div {
    height: 100%;
    /* overflow: auto; */

    background-color: inherit;
}