:root {
    --toolbar-bottom-padding: 0.5rem;

    --primary-hue: 0;
    --primary-saturation: 0%;
    --primary-lightness: 35%;
    --primary-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));

    --secondary-hue: 0;
    --secondary-saturation: 0%;
    --secondary-lightness: 50%;
    --secondary-color: hsl(var(--secondary-hue), var(--secondary-saturation), var(--secondary-lightness));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;

    font-family: "Verdana", "Segoe UI", "Arial";
}

#toolbar {
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: min-content;
    padding: 0.25rem 1rem;

    background-color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    z-index: 1;
}

.dropdown {
    width: max-content;
    height: 100%;

    font-size: 1rem;
    border-radius: 0.25rem;
}

.dropdown:has(p:hover), .dropdown.expanded {
    backdrop-filter: brightness(80%);
}

.dropdown > p {
    padding: 0.25rem 1.5rem;

    color: white;
    user-select: none;
}

.dropdown > ul {
    --bg-lightness: calc(var(--primary-lightness) + 10%);

    position: absolute;
    display: none;
    flex-direction: column;
    gap: 0;

    width: 200px;
    padding: 0.25rem;
    
    list-style: none;
    background-color: hsl(var(--primary-hue), var(--primary-saturation), var(--bg-lightness));
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    z-index: 999;
}
.dropdown.expanded > ul {
    display: flex;
    animation: fade-in 125ms ease-out 1;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.dropdown > ul > li {
    width: 100%;
    padding: 0.25rem 2rem;

    font-size: 0.9em;
    color: white;
    user-select: none;
}
.dropdown > ul > li:hover {
    backdrop-filter: brightness(90%);
}



#main {
    width: 100%;
    height: 100%;
}

resizable-window {
    --light-primary-color: hsl(
        calc(var(--primary-hue) + 15),
        calc(var(--primary-saturation) - 10%),
        calc(var(--primary-lightness) + 10%)
    );

    background-color: var(--light-primary-color);
    border-width: 0;
    border-style: solid;
    border-color: var(--secondary-color);
}
resizable-window:has(p):has(div) {
    display: flex !important;
    flex-direction: column;
    gap: 0;
}

resizable-window > p {
    --bg-lightness: calc(var(--secondary-lightness) * 1.15);

    width: 100%;
    padding: 0.25rem 0;
    padding-left: clamp(3rem, 20%, 6rem);

    font-weight: bold;
    background-color: hsla(var(--secondary-hue), var(--secondary-saturation), var(--bg-lightness), 0.75);
    user-select: none;
}
resizable-window:focus-within > p {
    text-decoration: hsl(220, 100%, 40%) 0.2rem underline;
    border: 4px groove var(--primary-color);
    border-top: 1px solid var(--primary-color);
    filter: brightness(110%) contrast(125%) saturate(125%);
}

resizable-window > div {
    height: 100%;
    overflow: auto;

    background-color: inherit;
}
resizable-window:focus-within > div {
    filter: brightness(110%) contrast(125%) saturate(125%);
}